html { 
  background: url('/images/Space_Hulk.webp') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 1em;
  height: 100vh;
  overflow-y: auto;
  font-family: 'Oswald', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  margin-block: 0px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y:auto;
  padding-bottom: 0px;
}

header {
  position: static;
  top: 0;
  z-index: 10;
  padding: 10px;
}

details {
  margin: 0.5em;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: inherit;
  background-color: brown;
  margin-inline-start: 0.7em;
  border-radius: 5px;
}
button:disabled {
  opacity: 0.4;
}


.scrollable-element {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f4f4f4; /* Firefox */
}
.scrollable-element::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}


.app {
  width: 100%;
  height: 100%;
}


.faction {
  position: sticky; /* Keeps header static at the top */
  top: 0;
}

.list {
  overflow: visible; /* List1 grows with content */
  padding: 10px;
  /* position: sticky; Keeps header static at the top */
  top: 0;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, .6);

}

.options{
  overflow-y: auto; /* Enables scrolling within List2 */
  max-height: 45vh; /* Adjust based on desired scrollable height */
  padding: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 1em;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, .6);
  /* position: sticky; */
}

.updates{
  position: sticky; /* Keeps header static at the top */
  top: 0;
  z-index: 10;
  padding: 10px;
  overflow-y: auto;
}

.red-unit {
  color: red;
}